@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="/assets/plugins/summernote/summernote.css" rel="stylesheet" />
    <style type="text/css">
        .dropdown-menu {
            border: 1px solid #e2e7eb;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #f5f5f5;
        }

        .tab-content {
            background-color: #f5f5f5;
        }
    </style>
}
@section scripts{
    <script src="/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/assets/plugins/summernote/summernote.min.js"></script>
    <script src="/assets/plugins/summernote/lang/summernote-zh-CN.js"></script>
    <script src="/assets/plugins/mustache/mustache.min.js"></script>
    <script type="text/javascript">
        $(".selectpicker").selectpicker("render");

        function sendFile(file, editor, welEditable) {
            data = new FormData();
            data.append("fileImg", file);
            url = "@Url.Action("Index", "UploadImg")";
            $.ajax({
                data: data,
                type: "POST",
                url: url,
                cache: false,
                contentType: false,
                processData: false,
                success: function (url) {
                    editor.insertImage(welEditable, url);
                }
            });
        }

        $("#colTop").change(function () {
            var val = $(this).val();
            $("#colList").empty();
            $(".selectpicker").selectpicker('refresh');
            $(".parsley-errors-list", ".dropdown-menu").remove();
            if (val == "")
                return;
            $.post("@Url.Action("GetColList", "Product")", {
                pId: val
            }, function (data) {
                for (var i = 0; i < data.length; i++) {
                    var template = $('#template').html();
                    Mustache.parse(template);
                    var rendered = Mustache.render(template, { Id: data[i].Id, Name: data[i].Name });
                    $("#colList").append(rendered);
                }
                $(".selectpicker").selectpicker('refresh');
                $(".parsley-errors-list", ".dropdown-menu").remove();
            }, "json");
        });

        $('#summernote-jieshao,#summernote-chanshu').summernote({
            lang: 'zh-CN',
            minHeight: 300,
            maxHeight: null,
            focus: true,
            onImageUpload: function (files, editor, welEditable) {
                sendFile(files[0], editor, welEditable);
            }
        });
    </script>
    <script type="text/x-mustache" id="template">
        <option value="{{Id}}">{{Name}}</option>
    </script>
}
<form class="panel panel-inverse" data-parsley-validate="true" onsubmit="$('textarea[name=Contents]').val($('#summernote-jieshao').code()); $('textarea[name=Other]').val($('#summernote-chanshu').code());"
      method="post" enctype="multipart/form-data" action="@Url.Action("Add", "Product")">
    <div class="panel-heading">
        <button type="submit" class="btn btn-primary btn-xs pull-right">提交</button>
        <h4 class="panel-title">新增产品</h4>
    </div>
    <div class="panel-body panel-form">
        <div class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 ui-sortable">标题 <span class="text-danger">*</span> :</label>
                <div class="col-md-6 col-sm-6 ui-sortable">
                    <input class="form-control" type="text" placeholder="请输入栏目类型名称" name="Name"
                           data-parsley-required="true"
                           data-parsley-required-message="请输入标题">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 ui-sortable">展示图片 (150*150) :</label>
                <div class="col-md-6 col-sm-6 ui-sortable">
                    <input class="form-control" type="file" name="fileImg">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 ui-sortable">所属栏目 :</label>
                <div class="col-md-6 col-sm-6 ui-sortable">
                    <select id="colTop" class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" name="ColumnId"
                            data-parsley-required="true"
                            data-parsley-required-message="请选择所属栏目">
                        <option value="" selected>请选择栏目</option>
                        <optgroup label="栏目列表">
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 ui-sortable">栏目类型 :</label>
                <div class="col-md-6 col-sm-6 ui-sortable">
                    <select class="form-control selectpicker" data-size="10" data-live-search="true" data-style="btn-white" name="ColumnListId">
                        <option value="" selected>请选择栏目类型</option>
                        <optgroup label="栏目类型列表" id="colList"></optgroup>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 ui-sortable">内容简介 :</label>
                <div class="col-md-6 col-sm-6 ui-sortable">
                    <textarea name="Describe" class="form-control" placeholder="请输入内容的简单介绍" maxlength="300" rows="5"></textarea>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="ui_tabs_accordions.html#default-tab-1" data-toggle="tab">产品介绍</a></li>
                        <li class=""><a href="ui_tabs_accordions.html#default-tab-2" data-toggle="tab">产品参数介绍</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="default-tab-1">
                            <div class="panel-body">
                                <textarea name="Contents" style="display:none;"></textarea>
                                <div id="summernote-jieshao"></div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="default-tab-2">
                            <div class="panel-body">
                                <textarea name="Other" style="display:none;"></textarea>
                                <div id="summernote-chanshu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
