@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Template/BigScreen/Shared/Site.cshtml";
}
@model Model.Column
@section style{
    <link href="/Attachments/BigScreen/CSS/jquery-ui.css" rel="stylesheet" />
    <style>
        #accordion {
            margin-bottom: 20px;
        }

            #accordion > label {
                color: #565656;
                width: 100%;
                padding: 15px;
                border: 1px #eee solid;
                box-shadow: 2px 2px 2px #ccc;
                display: block;
                font-weight: bold;
                font-size: 16px;
                border-radius: 5px;
                margin-top: 10px;
                outline: none;
            }

            #accordion > a.solutions-ceontent-container {
                display: block;
                padding-left: 15px;
                padding-right: 0;
                height: 180px;
                width: 800px;
                overflow: hidden;
            }

                #accordion > a.solutions-ceontent-container > div {
                    width: 600px;
                    height: 150px;
                    float: left;
                    color: #565656;
                    line-height: 22px;
                    padding-top: 15px;
                    overflow: hidden;
                }

                #accordion > a.solutions-ceontent-container > p {
                    border: 1px solid #C0C0C0;
                    box-shadow: 1px 2px 2px #ccc;
                    float: right;
                    padding: 3px;
                }

                    #accordion > a.solutions-ceontent-container > p > img {
                        display: block;
                    }
    </style>
}
<div class="container">
    <div class="x_home">
        <div class="zynr_cont_job_nr">
            <div class="page-title">
                <span class="glyphicon glyphicon-tags"></span> @Model.Name|
                <span>GAN ZHI NET WORK</span>
            </div>
            <ul id="synopsis-content">
                <li>
                    <div id="accordion">
                        @{
                            var list = ViewCommon.DataEntiyies.DataLists.Where(d => d.ColumnId == Model.Id || d.ColumnListId == Model.Id).ToList();
                            foreach (var item in list)
                            {
                                var url = Url.Action("Content", "Home", new { id = item.Id });
                                <label><a href="@url" target="_blank" style="color:#000;">@item.Name</a></label>
                                <a href="@url" target="_blank" class="solutions-ceontent-container">
                                    <div>
                                        @item.Describe
                                    </div>
                                    <p>
                                        <img src="/FileImg/@item.Img" width="150" height="150" />
                                    </p>
                                </a>
                            }
                        }
                    </div>
                </li>
                <li>
                    @{Html.RenderPartial("~/Views/Template/BigScreen/Shared/CompanyContactMessage.cshtml");}
                </li>
            </ul>
        </div>
    </div>
</div>
@section scripts{
    <script src="/Attachments/BigScreen/Script/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#accordion").accordion({ event: "mouseover" });
        });
    </script>
}
